@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary: #ffcc2a;
  --accent: #fba733;
  --text: #4d4d4d;
  --gray: #e6e6e6;
  --white: #f4f4f4;
  --danger: #dc3535;
  --success: #03c988;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--text);
  font-weight: 400;
}

.container {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.btn {
  padding: 0.3rem 1rem;
  outline: 0;
  border: 2px solid transparent;
  cursor: pointer;
  background: var(--accent);
  color: var(--text);
  border-radius: 4px;
  text-transform: uppercase;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  transition: all ease-in-out 0.3s;
}

.btn-large {
  padding: 0.5rem 1.5rem;
}

.btn:hover,
.btn:focus {
  background: transparent;
  border: 2px solid var(--accent);
  color: var(--accent);
}

.btn-danger {
  background: var(--danger);
  color: var(--gray);
}

.btn-danger:hover,
.btn-danger:focus {
  background: transparent;
  border: 2px solid var(--danger);
  color: var(--danger);
}

.btn-black {
  background: var(--text);
  color: var(--gray);
  transition: all ease-in-out 0.3s;
}

.btn-black:hover,
.btn-black:focus {
  background: transparent;
  color: var(--text);
  border: 2px solid var(--text);
}

.navbar {
  background: var(--primary);
}

.navbar nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}

.navbar nav h1 {
  font-size: 1.3rem;
  font-weight: 800;
}

.navbar nav .logo {
  width: 9vw;
  min-width: 100px;
  align-self: center;
}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--gray);
  height: calc(100vh - 100px);
}

.dropbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  width: 80%;
  height: 80%;
  margin: auto;
  outline: 2px dashed var(--text);
  border-radius: 4px;
  background: var(--white);
}

.dropbox p {
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
}

.dropbox .title {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.dropbox .file-status-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-block: 10px;
}

.dropbox .file-status-container .csv-icon {
  aspect-ratio: 1 / 1;
  height: 20px;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 30%;
  flex-wrap: wrap;
}

.email-container .email-checkbox {
  accent-color: var(--accent);
  margin-right: 5px;
}

.email-container .email-checkbox-label {
  font-weight: 300;
  font-size: 0.8rem;
}

.display-logs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  text-align: center;
}

.display-logs-container .logs-btn {
  padding: 0.4rem 0.8rem;
  border: 1px solid var(--accent);
  outline: none;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  color: var(--accent);
  transition: all 0.1s linear;
  border-radius: 4px;
}

.display-logs-container .logs-btn:hover,
.display-logs-container .logs-btn:focus {
  background: var(--accent);
  color: var(--text);
}

.logs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  width: 100vw;
  overflow: hidden;
  gap: 1rem;
}

.logs-container .header {
  text-transform: uppercase;
}

.logs-container .header::after {
  content: " ";
  display: block;
  width: 70px;
  height: 3px;
  margin: auto;
  background: var(--accent);
}

.status-icons-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem 0.8rem;
  width: 50%;
  min-width: 400px;
  height: 20px;
}

.status-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2vw;
  width: 20%;
}

.status-icons-container .status-icons img {
  aspect-ratio: 1 / 1;
  width: 30px;
}

.status-icons-container .status-icons img:nth-child(2) {
  width: 27px;
}

.status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  width: 50%;
  min-width: 400px;
  height: 63%;
  min-height: 372px;
  overflow-y: auto;
  scrollbar-width: none;
}

.status-container::-webkit-scrollbar {
  display: none;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--gray);
  border-bottom: 1px solid var(--accent);
  padding: 0.5rem 0.8rem;
}

.status .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.status .title .data {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
}

.status .title .data img {
  transform: rotate(90deg);
  aspect-ratio: 1 / 1;
  width: 30px;
}

.status .content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.success-files-container,
.error-files-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  width: 50%;
  padding: 0.5rem;
}

.success-file {
  color: var(--success);
}

.error-file {
  color: var(--danger);
}

.status .content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

@media screen and (max-width: 600px) {
  .navbar nav .logo {
    min-width: 80px;
  }

  .navbar nav h1 {
    font-size: 1rem;
  }
}
